.card-wrapper {
  border: 2px solid black;
  width: 600px;
  height: 500px;
  margin: 50px;
  border-radius: 5% 0%;
  float: left;
}

.albulm {
  margin: 0;
  height: auto;
}
.image-wrapper {
  margin: 10px;
  padding: 0px;
  position: relative;
  float: left;
}

img {
  width: 170px;
  margin-top: 10px;
}

.movie-info {
  margin: 10px;
  text-align: right;
  position: relative;
}

.plot {
  margin: 10px;
  text-overflow: clip;
  clear: both;
}

.plot > h2 {
  text-align: center;
}
